.contacts-page {
    .contacts-block {
        .title {
            padding: 40px 10px 55px;
        }
    }

    .contacts-and-map {
        padding-bottom: 0;
    }

    .contacts-wrapper {
        align-items: center;

        .contacts {
            padding: 0 20px 0 40px;
            width: 100%;
            max-width: 450px;
        }
    }

    .form-block {
        width: 100%;
        max-width: 480px;
        padding: 0 7px 0 14px;

        @media (max-width: 769px) {
            max-width: 100%;
            margin-top: 20px;
        }
    }

    .map {
        max-width: 100%;
        margin-top: 60px;
    }
}
