@import "../var";

.doctor-page {
	.title {
		color: $mainPurple;
		text-align: center;
	}

	.btn outline-light { // не используй id только классы и тэги (названия давай на английском)
		border-radius: $butBordR;
		background-color: $mainPurple;
		padding: 10px;
		text-align: center;
		margin: 0 auto;
		font-weight: bolder;
		font-size: 20px; // ошибка в свойстве
		width: 260px;
		color: white;

	}
}
