$mainPurple: #a631a7;
$butBordR: 20px;

.title {
	color: $mainPurple;
	text-align: center;
}
#zapisatsa {
	border-radius: $butBordR;
	background-color: $mainPurple;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	font-weight: bolder;
	font-side: 20px;
	width: 260px;
}