@import "../var";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.container {
    max-width: 985px;
}

.button-primary-violet {
    color: $white;
    border-radius: $butBordR;
    background-color: $mainPurple;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;

    &:hover {
        background: $darkPurple;
        color: $white;
    }
}

input[type="submit"],
button {
    -webkit-appearance: none!important;
}

.button-primary-white {
    color: $mainPurple;
    background-color: $white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.modal-dialog {
    .popup-content {
        display: flex;
        flex-direction: column;
        pointer-events: auto;
    }

    .btn-close {
        align-self: flex-end;
    }
}

.popup-success {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: $white;
    border: 3px solid $mainPurple;

    .image-wrapper {
        margin: 0 auto;
        max-width: 300px;

        img {
            width: 100%;
        }
    }

    .success-title {
        color: $mainPurple;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
}
