@import "../var";

footer {
    @media (max-width: 479px) {
        padding: 0!important;
    }

    .footer-line {
        padding: 23px 23px 17px 63px;
        background: $mainPurple;

        @media (max-width: 767px) {
            padding: 23px 23px 17px;
        }

        @media (max-width: 479px) {
            padding: 15px;
        }
    }

    .logo-wrapper {
        flex-shrink: 0;
        text-decoration: none;
        padding-top: 12px;

        img {
            width: 135px;

            @media (max-width: 767px) {
                width: 110px;
            }

            @media (max-width: 479px) {
                width: 90px;
            }
        }

        span {
            padding-left: 27px;
            max-width: 302px;
            font-size: 18px;
            font-weight: bold;
            color: $white;
        }
    }

    .menu-wrapper {
        .nav-link {
            padding: 14px 7px;
            font-size: 18px;
            font-weight: bold;
            line-height: 1;
            color: $white;
            text-transform: uppercase;
            text-decoration: underline;

            @media (max-width: 767px) {
                font-size: 14px;
            }

            @media (max-width: 479px) {
                font-size: 12px;
            }
        }
    }
}
