@import "../var";

header {
    .container {
        @media (max-width: 479px) {
            padding: 0;
        }
    }

    .top-line {
        padding: 16px 20px 12px 10px;

        @media (max-width: 767px) {
            background: $mainPurple;
        }

        @media (max-width: 479px) {
            padding: 15px 10px;
        }
    }

    .logo-wrapper {
        display: block;
        text-decoration: none;
        padding-top: 10px;

        @media (max-width: 767px) {
            padding-top: 0;
        }

        img {
            width: 110px;

            @media (max-width: 767px) {
                width: 90px;
            }

            @media (max-width: 479px) {
                width: 75px;
            }
        }

        span {
            padding-left: 5px;
            max-width: 215px;
            font-size: 13px;
            font-weight: bold;
            color: $mainPurple;

            @media (max-width: 767px) {
                padding-left: 10px;
                max-width: 160px;
                font-size: 12px;
            }
        }
    }

    .address {
        font-size: 14px;
    }

    .icon-pin {
        width: 10px;
        margin-right: 10px;
    }

    .metro-list-wrapper {
        padding-left: 18px;

        .icon-metro {
            padding-top: 8px;
            width: 47px;
            height: 47px;
            box-sizing: content-box;
        }

        .metro-list {
            padding-top: 3px;
            padding-left: 5px;
            font-size: 12px;

            div {
                line-height: 14px;
            }
        }
    }

    .social-links-wrapper {
        padding: 0 35px;
        margin: 0 -5px;

        @media (max-width: 1024px) {
            padding: 0 15px;
        }

        @media (max-width: 479px) {
            padding: 0;
        }

        a {
            width: 33px;
            margin: 0 5px;

            img {
                width: 100%;
            }
        }
    }

    .contact-block {
        align-self: flex-start;

        .icon-phone {
            width: 22px;
            height: 22px;
        }

        .btn {
            width: 190px;
        }
    }

    .phone {
        margin-bottom: 8px;

        @media (max-width: 767px) {
            margin: 5px auto;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 17px;
            color: $black;

            @media (max-width: 767px) {
                color: $white;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .menu-line {
        background: $mainPurple;

        @media (max-width: 767px) {
            background: $white;
        }

        @media (max-width: 479px) {
            border-bottom: 3px solid $mainPurple;
        }
    }

    .navbar {
        padding: 5px 30px;

        @media (max-width: 767px) {
            padding: 20px 15px;
        }

        @media (max-width: 479px) {
            padding: 20px 10px;
        }
    }

    .icon-burger {
        width: 35px;
    }

    ul {
        width: 100%;
    }

    .nav-item {
        position: relative;

        @media (max-width: 767px) {
            padding: 20px 0;
            border-bottom: 1px solid $mainPurple;

            &:last-of-type {
                border-bottom: 1px solid transparent;
                padding-bottom: 0;
            }
        }

        a {
            text-transform: uppercase;
            font-size: 18px;
            color: $white;

            @media (max-width: 767px) {
                font-weight: bold;
                color: $black;
            }
        }

        .collapse {
            @media (min-width: 767px) {
                display: block;
            }
        }

        &:hover {
            .sub-menu-wrapper {
                height: 600px;

                @media (max-width: 767px) {
                    height: auto;
                }
            }
        }

        .sub-menu-wrapper {
            height: 0;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 100%);
            overflow: hidden;
            z-index: 100;
            transition: 0.3s;

            @media (max-width: 769px) {
                position: static;
                transform: none;
                height: auto;
            }
        }

        .sub-menu {
            width: 250px;
            padding: 10px 60px 40px 20px;
            background: $white;
            border: 1px solid $mainPurple;
            border-top: 0;
            border-bottom-left-radius: $butBordR;
            border-bottom-right-radius: $butBordR;

            @media (max-width: 769px) {
                width: auto;
                padding: 0 0 0 20px;
                border: none;
            }

            .sub-menu-item {
                display: flex;
                align-items: center;
                padding: 10px 0;
                list-style: none;

                @media (max-width: 769px) {
                    padding: 20px 0;
                    border-bottom: 1px solid $mainPurple;

                    &:last-of-type {
                        border-bottom: 1px solid transparent;
                        padding-bottom: 0;
                    }
                }

                a {
                    padding-left: 20px;
                    flex-grow: 1;
                    font-size: 14px;
                    text-transform: inherit;
                    text-align: center;

                    @media (max-width: 769px) {
                        padding-left: 0;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: bold;
                        text-align: left;
                        color: $black;
                    }
                }
            }

            .separator {
                width: 7px;
                height: 7px;
                border: 7px solid $mainPurple;
                border-top-color: transparent;
                border-left-color: transparent;
                transform: rotate(-45deg);

                @media (max-width: 769px) {
                    display: none;
                }
            }

            .sub-menu-link {
                color: $black;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
