@import "../var";

header {
    .top-line {
        padding: 16px 20px 12px 10px;

        @media (max-width: 767px) {
            background: $mainPurple;
        }
    }

    .logo-wrapper {
        display: block;
        text-decoration: none;
        padding-top: 10px;

        img {
            width: 110px;
        }

        span {
            padding-left: 5px;
            max-width: 215px;
            font-size: 13px;
            font-weight: bold;
            color: $mainPurple;
        }
    }

    .address {
        font-size: 14px;
    }

    .icon-pin {
        width: 10px;
        margin-right: 10px;
    }

    .metro-list-wrapper {
        padding-left: 18px;

        .icon-metro {
            padding-top: 8px;
            width: 47px;
            height: 47px;
            box-sizing: content-box;
        }

        .metro-list {
            padding-top: 3px;
            padding-left: 5px;
            font-size: 12px;

            div {
                line-height: 14px;
            }
        }
    }

    .social-links-wrapper {
        padding: 0 35px;
        margin: 0 -5px;

        @media (max-width: 1024px) {
            padding: 0 15px;
        }

        a {
            width: 33px;
            margin: 0 5px;

            img {
                width: 100%;
            }
        }
    }

    .contact-block {
        align-self: flex-start;

        .phone {
            margin-bottom: 8px;

            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 17px;
                color: $black;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .icon-phone {
            width: 22px;
            height: 22px;
        }

        .btn {
            width: 190px;
        }
    }

    .d-sm-block {
        &.phone {
            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 17px;
                color: $white;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .navbar {
        background: $mainPurple;
        padding: 5px 30px;

        @media (max-width: 767px) {
            background: $white;
            border-bottom: 1px solid $mainPurple;
        }
    }

    ul {
        width: 100%;
    }

    .nav-item {
        a {
            text-transform: uppercase;
            color: $white;
            font-size: 18px;
        }
    }
}
